body{
    background-color: #161822;
    color: white;
}


.position-wrap{
	display: flex;
	flex-wrap: wrap;
}

.mb-5{
    margin-bottom: 5%;
}
.mt-5{
    margin-top: 5%;
}

.mb-10{
    margin-bottom: 10%;
}
.center p {
	text-align: center;
}

.justify p{
	text-align: justify;
}

.btn-group{
    color: #271a1a;
}

footer{
    color: #271a1a;
}