.container{
    background-color: #192148;
}


.position-wrap{
	display: flex;
	flex-wrap: wrap;
}

.header {
    margin-bottom: 30px;
}

.center p {
	text-align: center;
}

.justify p{
	text-align: justify;
}